@import url(https://fonts.googleapis.com/css?family=Passion+One);
body {
  margin: 0;
  padding: 0;
  background-color: RGB(224, 215, 255);
  font-family: "Passion One";
  font-size: 18px;
}
div {
  padding: 30px auto;
  margin-left: 150px;
  margin-right: 150px;
  background-color: rgb(253, 253, 150);
}
img {
  width: 100%;
  margin-left: 0px;
  margin-bottom: 0px;
}
H1 {
  margin-left: 180px;
}
p {
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
h2 {
  margin-left: 10px;
}
#titel {
  background-color: red;
  color: white;
}
a {
  background-color: red;
  color: white;
  font-size: 25px;
  margin-left: 510px;
}
